/* GameBoi themed blog by Github:Kebablord */

@font-face {
    font-family: gameboy;
    src: url(gameboy.ttf);
}

body {
	background-color:#C5F0C2;
	font-family: gameboy;
	font-size:30px;
	line-height: 32px;
	text-shadow: 4px 3px black;
	color: #5FB1A1;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top:  16px;
	width: 230px;
}

a{
	text-decoration: none;
	color: inherit;
}

#box{
	background-color: #1D5F6B;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	width: 460px;
	height: 460px;
	box-shadow: 
    0 0 0 4px #2A1C02,
    0 0 0 8px #1D5F6B,
    0 0 0 12px #5FB1A1;
}

.white{
	color: #C0EFC1;
}

#upper{
	padding-top: 28px;
	text-align: center;
	font-size: 25px;
	line-height: 25px;
}


#container{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	width: 280px;
}

#row{
  display: flex;
}

#link {
	order:2;
	opacity: 1;
}

#arrow {
	order:1;
	opacity: 0;
	color: #C0EFC1;
	text-shadow: 4px 4px black;
}

#link:hover + #arrow{
	opacity: 1;
}

#link:hover{
	color: #C0EFC1;
}

.signature{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 460px;
	text-shadow: none;
	font-size: 20px;
	letter-spacing: -2px;
	text-align: right;
}